[Unit]
Description=SAS Customer Intelligence 360 GBQ Event Stream Agent
After=network.target

[Service]
User=sinswr
WorkingDirectory=/r/ge.unx.sas.com/vol/vol620/u62/sinswr/tim/gbq/tim-ci360-event-stream-agent-2023.02
StandardOutput=journal
StandardError=journal
EnvironmentFile=/r/ge.unx.sas.com/vol/vol620/u62/sinswr/tim/gbq/tim-ci360-event-stream-agent-2023.02/systemD/gbq-event-stream-agent

ExecStart=/r/ge.unx.sas.com/vol/vol620/u62/sinswr/tim/gbq/tim-ci360-event-stream-agent-2023.02/bin/gbq-event-stream-agent

Restart=on-failure

[Install]
WantedBy=multi-user.target
