# Standard agent config - CI360 settings
ci360.gatewayHost=extapigwservice-training.ci360.sas.com
ci360.tenantID=
ci360.clientSecret=


# Standard agent config 
agent.keepaliveInterval=300000
agent.runInteractiveConsole=false
agent.monitorOutputInterval=600000
agent.failedEventFileLocation=C:/temp/failed_events/
agent.max_error_count=2500


# Google Big Query settings
db.writeToDb=true
db.projectId=firstdb-sw
db.datasetName=custom_events
db.tableName=event_table_data
db.columns=eventname,generatedTimestamp,subject_id,datahub_id,event_uid,rowKey,event_json
db.convert_to_date_time_columns=generatedTimestamp
db.max_retry_count=3


