# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userprefs

# VS Code settings
.vscode/

# Logs
*.log

# NuGet packages
*.nupkg
packages/

# Temporary files
*.tmp
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db